#my_headshot{
    border-radius: 25%;
    height: 275px;
    width: 325px;
    image-resolution: snap;
}
#swim{
    height: 275px;
    width: 325px;
    border-radius: 25%;
    image-resolution: snap;
}
#pills{
    color:red;
}
#links{
    border-color: white;
    border-width: medium;
}
.jumbotron h1{
    color: red;
    font-family: serif;
    font-size: 72px;
    height:inherit;
    text-align:center;
}
.jumbotron{
    background-color: black;
}
.jumbotron p{
    font-size: 24px;
    text-align: center;
    color:darkgray;
}
body{
    background-color:black;
    color:red;
    font-family: serif;
}