
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{getSpiritImage()}}" id="profile_image"/>
                </div>
                <div class="col-sm-9">
                    <div class="page-header">{{spirit_name}}</div>
                    <p> {{spirit_description}}</p>
                </div>
            </div>
            <img src="partials/profile_images/mm.jpg" id="mm" class = "center-block"/>
        </div>
    </div>
    
    <button type="submit" class="btn btn-default" ng-click="show = !show">Show FireChat</button>
    <div ng-show="show" class="panel panel-body">
        <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" id="email"/>
        <br>
        <input type="password" class="form-control" name="password" placeholder="Password" required="" id="password"/>
        <br>
        <button type="submit" class="btn btn-default" ng-click="login_chat()">Chat!</button>
        <div id='firechat-wrapper'></div>
    </div>
<script>
    var imageElement = document.querySelector('#mm');
        var chromata = new Chromata(imageElement);
    chromata.start();
</script>
<style>
    .center-block{
        height:300px;
        width:400px;
    }
.jumbotron
{
    background-color:rgba(255,255,255,.6);
    color:black;
}
.page-header
{
    font-size: 50px;
}
.jumbotron img
{
    width:300px;
    height:300px;
    border-radius: 25%;
}
    .panel-body{
        background-color:rgba(255,255,255,.6);
    }
.panel-body p{
    font-size:16px;
}
.panel-default{
    border-width:thin;
    border-color:black;
    
}
h2{
    color:coral;
}
h3{
    color:coral;
}
</style>

